@import "./colors.module";

.container {
  display: grid;
  grid-template-columns: 3rem auto;
  grid-template-rows: 2fr 3fr;
}

.menu {
  grid-row: 1 / -1;
}

.topContent,
.bottomContent {
  border-color: $lines-color;
  border-style: solid;
  border-width: 0px 1px;
}

.topContent {
  border-bottom: 1px solid $lines-color;
}
