$primary-color-one: #01080e;
$primary-color-two: #011627;
$primary-color-three: #011221;

$secondary-color-grey: #607b96;
$secondary-color-green: #3c9d93;
$secondary-color-purple: #4d5bce;
$secondary-color-white: #ffffff;

$accent-color-orange: #fea55f;
$accent-color-green: #43d9ad;
$accent-color-salmon: #e99287;
$accent-color-pink: #c98bdf;

$lines-color: #1e2d3d;

$gradients-color-purple: #4d5bce;
$gradients-color-green: #43d9ad;
