@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");
@import "./colors.module";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $primary-color-two;
  color: $secondary-color-grey;
  font-family: Fira Code;
  height: 100vh;
}

li {
  list-style: none;
}

a {
  color: $secondary-color-grey;
  text-decoration: none;
}

main {
  flex-grow: 1;
}

h1 {
  font-size: 62px;
  font-weight: normal;
}

h2 {
  font-size: 32px;
  font-weight: normal;
}

p {
  font-size: 18px;
}
